./qmlmessages
*.pro.user
*.pyc
.directory
*.o
moc_*.cpp
qrc_*.cpp
*.so
*.qmlc
moc_*
qrc_*
.qmake.stash
*.spec.*
documentation.list
Makefile
*.swp
installroot/
RPMS/
debug*.list
CMakeLists.txt.user
build/
