[Desktop Entry]
Type=Application
Name=Messages
Icon=/usr/share/glacier-messages/glacier-messages.png
Exec=/usr/bin/glacier-messages
Comment=Nemo messaging application
X-Desktop-File-Install-Version=0.19
X-Maemo-Service=org.nemomobile.qmlmessages
X-Maemo-Method=org.nemomobile.qmlmessages.showGroupsWindow
Name[cs]=Zprávy